@charset "UTF-8";
/* 文字コードの指定 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
html {
  font-size: 62.5%;
}

body {
  font-family: 'yrsa', serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5rem;
  color: #606060;
}

@media (min-width: 768px) {
  body {
    font-size: 1.6rem;
  }
}

@media (min-width: 1118px) {
  body {
    font-size: 1.8rem;
  }
}

a {
  color: #F7F3DF;
  text-decoration: none;
  cursor: pointer;
}

img {
  vertical-align: bottom;
  max-width: 100%;
}

@media (min-width: 1118px) {
  img {
    max-width: unset;
  }
}

h1 {
  font-family: 'parkside', cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  color: #F5D0B5;
  margin: 0;
}

@media (min-width: 768px) {
  h1 {
    font-size: 5.8rem;
  }
}

@media (min-width: 835px) {
  h1 {
    font-size: 5.6rem;
  }
}

@media (min-width: 900px) {
  h1 {
    font-size: 7rem;
    margin-top: 2rem;
  }
}

@media (min-width: 1118px) {
  h1 {
    margin-top: 5.5rem;
    font-size: 7.6rem;
    line-height: 8.74rem;
  }
}

h2 {
  display: inline-block;
  font-family: 'yrsa', serif;
  font-style: normal;
  font-weight: 300;
  font-size: 2.3rem;
  text-transform: uppercase;
  color: #4C4C4D;
  border-bottom: solid 1px #4C4C4D;
  margin: 0 0 1.5rem;
}

@media (min-width: 768px) {
  h2 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 900px) {
  h2 {
    font-size: 3.2rem;
    margin-bottom: 2rem;
  }
}

h3 {
  font-family: 'parkside', cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3.4rem;
  color: #EA9C75;
  margin: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  opacity: 0.5;
}

@media (min-width: 768px) {
  h3 {
    font-size: 5.8rem;
  }
}

@media (min-width: 900px) {
  h3 {
    font-size: 6.5rem;
  }
}

p {
  margin: 0;
  line-height: 1.2;
}

@media (min-width: 768px) {
  p {
    font-size: 1.8rem;
  }
}

@media (min-width: 900px) {
  p {
    font-size: 2rem;
  }
}

@media (min-width: 1118px) {
  p {
    font-size: 1.6rem;
  }
}

@media (min-width: 1366px) {
  p {
    font-size: 1.8rem;
  }
}

@media (min-width: 1650px) {
  p {
    font-size: 2rem;
  }
}

small {
  font-size: 1rem;
  color: #4C4C4D;
}

@media (min-width: 768px) {
  small {
    font-size: 1.4rem;
  }
}

@media (min-width: 1118px) {
  small {
    font-size: 1.8rem;
  }
}

.header {
  position: relative;
  margin: 0;
  padding: 0;
  height: 81.2rem;
}

@media (min-width: 768px) {
  .header {
    height: auto;
  }
}

.cover-container {
  background: #EA9C75;
  padding: 0 0 0.5rem 0;
}

@media (min-width: 1118px) {
  .cover-container {
    background: #C0CEA1;
    width: 100%;
    display: inline-block;
    padding: 0;
  }
}

@media (min-width: 1118px) {
  .wrapper_pc {
    position: fixed;
    width: 45%;
    height: 76.8rem;
    top: 0;
    right: 0;
  }
}

@media (min-width: 1650px) {
  .wrapper_pc {
    width: 50%;
  }
}

@media (min-width: 2000px) {
  .wrapper_pc {
    width: 60%;
  }
}

@media (min-width: 680px) {
  .carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    padding: 0 5rem;
  }
  .carousel picture {
    border: solid 10px #F7F3DF;
    border-top: none;
  }
}

@media (min-width: 900px) {
  .carousel {
    padding: 0 10rem;
  }
}

@media (min-width: 1118px) {
  .carousel {
    padding: 0;
  }
  .carousel picture {
    border: none;
  }
}

.cover-left_pc {
  width: 100%;
}

@media (min-width: 1118px) {
  .cover-left_pc {
    width: calc(55% - 3rem);
    background: #EA9C75;
    margin-top: 3rem;
    margin-left: 3rem;
    margin-bottom: 1.5rem;
    border-top: solid 3rem #F7F3DF;
    border-left: solid 3rem #F7F3DF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media (min-width: 1650px) {
  .cover-left_pc {
    width: calc(50% - 3rem);
  }
}

@media (min-width: 2000px) {
  .cover-left_pc {
    width: calc(40% - 3rem);
  }
}

.cover_logotext-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em 0 0 0;
}

.cover_title-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cover_subtitle {
  color: #F5D0B5;
  font-size: 1.4rem;
  font-weight: 400;
}

@media (min-width: 768px) {
  .cover_subtitle {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
}

@media (min-width: 900px) {
  .cover_subtitle {
    font-size: 2.1rem;
    line-height: 2.8rem;
  }
}

@media (min-width: 1118px) {
  .cover_subtitle {
    font-size: 2.4rem;
    line-height: 3.4rem;
  }
}

.cover_opening-hours {
  -webkit-transition-delay: .7s;
          transition-delay: .7s;
  margin: 10.5rem 0 12.5rem;
  color: #F7F3DF;
}

@media (min-width: 768px) {
  .cover_opening-hours {
    margin: 9rem 0 11rem;
  }
}

@media (min-width: 900px) {
  .cover_opening-hours {
    margin: 13rem 0 15.7rem;
  }
}

@media (min-width: 1118px) {
  .cover_opening-hours {
    margin: 10.1rem 0 12.4rem;
  }
}

.border-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 0.25px #F5D0B5;
  outline: solid 0.25px #F5D0B5;
  outline-offset: 2px;
  padding: 2.65rem 1.6rem 2.7rem;
}

@media (min-width: 900px) {
  .border-box {
    border: solid 1px #F5D0B5;
    outline: solid 1px #F5D0B5;
    padding: 2.5rem 2rem 3rem;
  }
}

.open {
  display: inline-block;
  text-transform: uppercase;
  border-bottom: solid 1px #F5D0B5;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  line-height: 2.1rem;
}

@media (min-width: 900px) {
  .open {
    font-size: 2.3rem;
    line-height: 3.2rem;
    margin-bottom: 1.7rem;
  }
}

.opening-hours-text {
  font-size: 1.5rem;
  line-height: 2.3rem;
}

@media (min-width: 900px) {
  .opening-hours-text {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
}

.opening-hours-text span {
  font-size: 1.75rem;
}

@media (min-width: 900px) {
  .opening-hours-text span {
    font-size: 1.95rem;
  }
}

.nav {
  width: 100%;
  padding: 0 0.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 1118px) {
  .nav {
    border-bottom: solid 1.5rem #F7F3DF;
  }
}

.nav-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 1.5rem 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #EBAB8B;
  list-style: none;
}

.nav-list li {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: solid 2px #EA9C75;
  padding-bottom: 0.5rem;
  opacity: 0;
  -webkit-animation: fadein 1s ease forwards;
          animation: fadein 1s ease forwards;
}

@-webkit-keyframes fadein {
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}

.nav-list li:first-child {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.nav-list li:nth-child(2) {
  -webkit-animation-delay: 1.7s;
          animation-delay: 1.7s;
}

.nav-list li:last-child {
  border-right: none;
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
}

.nav-list li a:hover {
  color: #C0CEA1;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (min-width: 900px) {
  .nav-list li {
    border-right: solid 3px #EA9C75;
  }
}

@media (min-width: 1118px) {
  .nav-list {
    margin-bottom: 0.5rem;
  }
}

.icon-img-box {
  position: relative;
}

.nav-img1 {
  height: 2.7rem;
  padding-left: 0.5rem;
}

@media (min-width: 768px) {
  .nav-img1 {
    height: 3rem;
  }
}

@media (min-width: 900px) {
  .nav-img1 {
    height: 3.5rem;
  }
}

.nav-img1-active {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
  height: 2.7rem;
  padding-left: 0.5rem;
}

.nav-img1-active:hover {
  opacity: 1;
}

@media (min-width: 768px) {
  .nav-img1-active {
    height: 3rem;
  }
}

@media (min-width: 900px) {
  .nav-img1-active {
    height: 3.5rem;
  }
}

.nav-img2 {
  height: 2.7rem;
}

@media (min-width: 768px) {
  .nav-img2 {
    height: 3rem;
  }
}

@media (min-width: 900px) {
  .nav-img2 {
    height: 3.5rem;
  }
}

.nav-img2-active {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 2.7rem;
}

.nav-img2-active:hover {
  opacity: 1;
}

@media (min-width: 768px) {
  .nav-img2-active {
    height: 3rem;
  }
}

@media (min-width: 900px) {
  .nav-img2-active {
    height: 3.5rem;
  }
}

.nav-img3 {
  height: 2.9rem;
}

@media (min-width: 768px) {
  .nav-img3 {
    height: 3.2rem;
  }
}

@media (min-width: 900px) {
  .nav-img3 {
    height: 3.7rem;
  }
}

.nav-img3-active {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 2.9rem;
}

.nav-img3-active:hover {
  opacity: 1;
}

@media (min-width: 768px) {
  .nav-img3-active {
    height: 3.2rem;
  }
}

@media (min-width: 900px) {
  .nav-img3-active {
    height: 3.7rem;
  }
}

.nav-text {
  font-size: 1.6rem;
  line-height: 2.5rem;
}

@media (min-width: 900px) {
  .nav-text {
    font-size: 2rem;
    line-height: 3rem;
  }
}

.section-heading {
  text-align: center;
  padding-right: 2rem;
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

@media (min-width: 768px) {
  .section-heading {
    padding-right: 0;
  }
}

.container {
  position: relative;
  margin-top: 5rem;
}

@media (min-width: 768px) {
  .container {
    margin-top: 8rem;
  }
}

@media (min-width: 900px) {
  .container {
    margin-top: 10rem;
  }
}

@media (min-width: 1118px) {
  .container {
    margin-top: 8rem;
  }
}

.news-area {
  position: relative;
}

.news-container {
  background: #C0CEA1;
  margin: 5rem 5rem 0 3rem;
  padding: 0.3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 430px) {
  .news-container {
    margin-top: 40%;
  }
}

@media (min-width: 768px) {
  .news-container {
    margin: 8rem;
    padding: 0.5rem;
  }
}

@media (min-width: 900px) {
  .news-container {
    margin: 10rem;
  }
}

@media (min-width: 1025px) {
  .news-container:hover {
    background: #F7F3DF;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

@media (min-width: 1118px) {
  .news-container {
    margin: 6rem;
  }
}

@media (min-width: 1366px) {
  .news-container {
    margin: 8rem;
  }
}

.news-border-box {
  min-height: 15rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 0.25px #F7F3DF;
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 200% auto;
  background-image: -webkit-gradient(linear, left top, right top, from(#F7F3DF), color-stop(50%, #F7F3DF), color-stop(50%, #C0CEA1), to(#C0CEA1));
  background-image: linear-gradient(to right, #F7F3DF 0%, #F7F3DF 50%, #C0CEA1 50%, #C0CEA1 100%);
  -webkit-transition: background-position ease 0.4s;
  transition: background-position ease 0.4s;
  cursor: pointer;
}

@media (min-width: 768px) {
  .news-border-box {
    min-height: 22rem;
    border: solid 1px #F7F3DF;
  }
}

@media (min-width: 1025px) {
  .news-border-box {
    min-height: 19rem;
  }
  .news-border-box:hover {
    background-position: 0 0;
  }
}

.carousel-item {
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/*Select every element*/
[id^="item"] {
  display: none;
}

.item-1 {
  z-index: 2;
  opacity: 1;
}

*:target ~ .item-1 {
  opacity: 0;
}

#item-1:target ~ .item-1 {
  opacity: 1;
}

#item-2:target ~ .item-2,
#item-3:target ~ .item-3 {
  z-index: 3;
  opacity: 1;
}

.arrows-box {
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 46%;
  left: 0;
  color: #F7F3DF;
  font-size: 1.5rem;
}

@media (min-width: 900px) {
  .arrows-box {
    font-size: 2rem;
    top: 45%;
    font-size: 1.5rem;
  }
}

@media (min-width: 1025px) {
  .arrows-box:hover a {
    color: #C0CEA1;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    z-index: 3;
    font-size: 2rem;
  }
}

.news-title {
  font-size: 2rem;
}

@media (min-width: 768px) {
  .news-title {
    font-size: 2.8rem;
  }
}

@media (min-width: 900px) {
  .news-title {
    font-size: 3.6rem;
  }
}

@media (min-width: 1118px) {
  .news-title {
    font-size: 3.2rem;
  }
}

.carousel-item-text {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 2.5rem;
}

@media (min-width: 768px) {
  .carousel-item-text {
    padding: 3rem 3.5rem;
  }
}

.news-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  font-size: 1.4rem;
  color: #606060;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-text span {
  margin-right: 1rem;
}

@media (min-width: 768px) {
  .news-text {
    height: 7.3rem;
    font-size: 1.8rem;
    line-height: 2.1rem;
  }
}

@media (min-width: 900px) {
  .news-text {
    height: 9rem;
    font-size: 2.2rem;
    line-height: 2.5rem;
  }
}

@media (min-width: 1118px) {
  .news-text {
    height: 6.5rem;
    font-size: 1.8rem;
    line-height: 2.1rem;
  }
}

@media (min-width: 1366px) {
  .news-text {
    height: 7.3rem;
  }
}

.footer {
  position: relative;
  height: 40rem;
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 768px) {
  .footer {
    height: 65rem;
    padding: 2rem 0 0 8rem;
  }
}

@media (min-width: 900px) {
  .footer {
    height: 78rem;
    padding-left: 12rem;
  }
}

@media (min-width: 1100px) {
  .footer {
    height: 80rem;
  }
}

@media (min-width: 1118px) {
  .footer {
    height: 68rem;
    width: 55%;
    padding: 2rem 0 2rem 6rem;
  }
}

@media (min-width: 1366px) {
  .footer {
    height: 66rem;
    width: 55%;
    padding: 3rem 0 2rem 6rem;
  }
}

@media (min-width: 1650px) {
  .footer {
    height: 80rem;
    width: 50%;
    padding: 3rem 0 2rem 6rem;
  }
}

@media (min-width: 2000px) {
  .footer {
    width: 40%;
  }
}

.footer-body {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  width: 100%;
  height: 38.5rem;
  padding-top: 1rem;
  background-image: url(../images/footer-background_sp.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .footer-body {
    height: 64rem;
    padding-top: 2rem;
    background-image: url(../images/footer-background_pc.png);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media (min-width: 900px) {
  .footer-body {
    height: 77rem;
  }
}

@media (min-width: 1100px) {
  .footer-body {
    height: 80rem;
  }
}

@media (min-width: 1118px) {
  .footer-body {
    height: 65rem;
  }
}

@media (min-width: 1650px) {
  .footer-body {
    height: 70rem;
  }
}

.footer-img-borderbox {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  border: solid 3px #F7F3DF;
  width: calc(100% - 2rem);
  height: 15rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url(../images/footer.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .footer-img-borderbox {
    border: solid 6px #F7F3DF;
    height: 25rem;
    width: calc(100% - 8rem);
  }
}

@media (min-width: 900px) {
  .footer-img-borderbox {
    height: 30rem;
    width: calc(100% - 5rem);
  }
}

@media (min-width: 1118px) {
  .footer-img-borderbox {
    height: 25rem;
    width: calc(100% - 8rem);
  }
}

.footer-logobox {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  margin-top: 12rem;
  background: #F7F3DF;
  padding: 0.3rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@media (min-width: 768px) {
  .footer-logobox {
    margin-top: 19.5rem;
  }
}

@media (min-width: 900px) {
  .footer-logobox {
    margin-top: 23.5rem;
  }
}

@media (min-width: 1118px) {
  .footer-logobox {
    margin-top: 19.5rem;
  }
}

.footer-border-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0 2rem 1rem;
  border: solid 0.25px #EBAB8B;
}

@media (min-width: 768px) {
  .footer-border-box {
    border: solid 1px #EBAB8B;
    padding: 0.3rem 5rem 3rem;
  }
}

@media (min-width: 1118px) {
  .footer-border-box {
    padding-top: 0;
    padding: 0.2rem 4rem 2rem;
  }
}

.footer-title {
  font-size: 2rem;
  color: #EA9C75;
  margin-top: 0.3rem;
}

@media (min-width: 768px) {
  .footer-title {
    font-size: 2.8rem;
    line-height: 1.4;
  }
}

@media (min-width: 900px) {
  .footer-title {
    font-size: 4rem;
    margin-top: 0.5rem;
  }
}

@media (min-width: 1118px) {
  .footer-title {
    font-size: 2.8rem;
    margin-top: 0.3rem;
  }
}

.footer-subtitle {
  color: #EA9C75;
  font-size: 0.9rem;
  line-height: 1rem;
}

@media (min-width: 768px) {
  .footer-subtitle {
    font-size: 1.2rem;
  }
}

@media (min-width: 900px) {
  .footer-subtitle {
    font-size: 1.8rem;
  }
}

@media (min-width: 1118px) {
  .footer-subtitle {
    font-size: 1.2rem;
  }
}

.footer-contact {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e88a5b;
  padding: 0;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 1.5rem auto;
}

.footer-contact li {
  line-height: 1.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.footer-contact li a {
  color: #e88a5b;
}

.footer-contact li span {
  font-size: 1.35rem;
}

.footer-contact li:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

@media (min-width: 768px) {
  .footer-contact {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 2.7rem auto;
  }
  .footer-contact li {
    line-height: 2.2rem;
  }
  .footer-contact li span {
    font-size: 1.5rem;
  }
}

@media (min-width: 900px) {
  .footer-contact {
    font-size: 1.8rem;
    margin: 3rem auto;
  }
  .footer-contact li {
    line-height: 1.6;
  }
  .footer-contact li span {
    font-size: 1.9rem;
  }
}

@media (min-width: 1118px) {
  .footer-contact {
    font-size: 1.4rem;
    margin: 2.5rem auto;
  }
  .footer-contact li span {
    font-size: 1.5rem;
  }
}

@media (min-width: 1650px) {
  .footer-contact {
    font-size: 1.6rem;
    margin: 3.5rem auto;
  }
  .footer-contact li span {
    font-size: 1.7rem;
  }
}

.contact1 {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.contact2 {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.contact3 {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.footer-sns {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 18.5rem;
  margin-bottom: 0.5rem;
  padding: 0;
}

.footer-sns li {
  margin-right: 1.2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.footer-sns li:last-child {
  margin-right: 0;
}

.footer-sns li:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.footer-sns li i {
  color: #EA9C75;
  font-size: 1.4rem;
}

@media (min-width: 768px) {
  .footer-sns {
    margin-top: 30rem;
  }
  .footer-sns li {
    margin-right: 1.5rem;
  }
  .footer-sns li i {
    font-size: 2rem;
  }
}

@media (min-width: 900px) {
  .footer-sns {
    margin-top: 36rem;
  }
  .footer-sns li {
    margin-right: 1.5rem;
  }
  .footer-sns li i {
    font-size: 2.4rem;
  }
}

@media (min-width: 1118px) {
  .footer-sns {
    margin-top: 25rem;
  }
  .footer-sns li {
    margin-right: 1.6rem;
  }
  .footer-sns li i {
    font-size: 2.1rem;
  }
}

@media (min-width: 1366px) {
  .footer-sns {
    margin-top: 28rem;
  }
  .footer-sns li i {
    font-size: 2.4rem;
  }
}

.copyright {
  color: #EA9C75;
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  .copyright {
    font-size: 1.2rem;
    line-height: 2.4rem;
  }
}

@media (min-width: 900px) {
  .copyright {
    font-size: 1.6rem;
    line-height: 2.8rem;
  }
}

@media (min-width: 1118px) {
  .copyright {
    font-size: 1.2rem;
    line-height: 2.4rem;
  }
}

@media (min-width: 1366px) {
  .copyright {
    font-size: 1.4rem;
    line-height: 2.8rem;
  }
}

main {
  padding: 0 0 0 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 768px) {
  main {
    padding-left: 8rem;
  }
}

@media (min-width: 900px) {
  main {
    padding-left: 12rem;
  }
}

@media (min-width: 1118px) {
  main {
    width: 55%;
    padding-left: 6rem;
  }
}

@media (min-width: 1650px) {
  main {
    width: 50%;
  }
}

@media (min-width: 2000px) {
  main {
    width: 40%;
  }
}

.nav_pc {
  display: none;
}

@media (min-width: 768px) {
  .nav_pc {
    display: block;
    position: absolute;
    top: 40%;
    left: -5rem;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .nav_pc:hover {
    -webkit-animation: zoom .3s;
    animation: zoom .3s;
  }
  @-webkit-keyframes zoom {
    50% {
      -webkit-transform: scale(1.05);
    }
  }
  @keyframes zoom {
    50% {
      -webkit-transform: scale(1.05);
              transform: scale(1.05);
    }
  }
}

@media (min-width: 900px) {
  .nav_pc {
    top: 44%;
    left: -8.5rem;
  }
}

@media (min-width: 1118px) {
  .nav_pc {
    left: -5rem;
  }
}

.nav_text {
  display: none;
}

@media (min-width: 768px) {
  .nav_text {
    display: block;
    color: #4C4C4D;
    font-size: 1.6rem;
  }
  .nav_text:hover {
    color: #EA9C75;
    -webkit-transition: .3s;
    transition: .3s;
  }
}

@media (min-width: 900px) {
  .nav_text {
    font-size: 2rem;
  }
}

.about-nav_pc {
  display: none;
}

@media (min-width: 768px) {
  .about-nav_pc {
    display: block;
    position: absolute;
    top: 36.3%;
    left: -6rem;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .about-nav_pc:hover {
    -webkit-animation: zoom .3s;
    animation: zoom .3s;
  }
  @-webkit-keyframes zoom {
    50% {
      -webkit-transform: scale(1.05);
    }
  }
  @keyframes zoom {
    50% {
      -webkit-transform: scale(1.05);
              transform: scale(1.05);
    }
  }
}

@media (min-width: 900px) {
  .about-nav_pc {
    display: block;
    position: absolute;
    top: 31.3%;
    left: -8.5rem;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

@media (min-width: 1118px) {
  .about-nav_pc {
    top: 40%;
    left: -5rem;
  }
}

@media (min-width: 1366px) {
  .about-nav_pc {
    top: 36.5%;
  }
}

.menu-nav_pc {
  display: none;
}

@media (min-width: 768px) {
  .menu-nav_pc {
    display: block;
    position: absolute;
    top: 41%;
    left: -6rem;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .menu-nav_pc:hover {
    -webkit-animation: zoom .3s;
    animation: zoom .3s;
  }
  @-webkit-keyframes zoom {
    50% {
      -webkit-transform: scale(1.05);
    }
  }
  @keyframes zoom {
    50% {
      -webkit-transform: scale(1.05);
              transform: scale(1.05);
    }
  }
}

@media (min-width: 900px) {
  .menu-nav_pc {
    top: 39%;
    left: -8.5rem;
  }
}

@media (min-width: 1118px) {
  .menu-nav_pc {
    top: 57%;
    left: -5rem;
  }
}

@media (min-width: 1366px) {
  .menu-nav_pc {
    top: 41%;
  }
}

.contact-nav_pc {
  display: none;
}

@media (min-width: 768px) {
  .contact-nav_pc {
    display: block;
    position: absolute;
    top: 42%;
    left: 1.5rem;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .contact-nav_pc:hover {
    -webkit-animation: zoom .3s;
    animation: zoom .3s;
  }
  @-webkit-keyframes zoom {
    50% {
      -webkit-transform: scale(1.05);
    }
  }
  @keyframes zoom {
    50% {
      -webkit-transform: scale(1.05);
              transform: scale(1.05);
    }
  }
}

@media (min-width: 900px) {
  .contact-nav_pc {
    top: 45%;
    left: 3rem;
  }
}

@media (min-width: 1118px) {
  .contact-nav_pc {
    top: 50%;
    left: 0;
  }
}

.ribon-img {
  width: 3.5rem;
  height: auto;
}

@media (min-width: 768px) {
  .ribon-img {
    width: 5rem;
  }
}

@media (min-width: 900px) {
  .ribon-img {
    width: 6rem;
  }
}

@media (min-width: 1118px) {
  .ribon-img {
    width: 7rem;
  }
}

.ribon-pink {
  padding-top: 0.3rem;
  width: 1.8rem;
  height: auto;
}

@media (min-width: 768px) {
  .ribon-pink {
    width: 2.4rem;
  }
}

@media (min-width: 900px) {
  .ribon-pink {
    width: 3rem;
  }
}

@media (min-width: 1118px) {
  .ribon-pink {
    width: 2.4rem;
  }
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-play:before {
  padding-right: 0.5rem;
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .icon-play:before {
    font-size: 1.6rem;
  }
}

.icon-iconmonstr-instagram-14:before {
  content: "\e903";
}

.icon-iconmonstr-facebook-4:before {
  content: "\e905";
}

.icon-iconmonstr-twitter-4:before {
  content: "\e904";
}

.icon-copyright:before {
  font-size: 0.9rem;
  padding-right: 0.2rem;
}

.about-concept {
  position: absolute;
  top: 2rem;
  left: -1rem;
}

@media (min-width: 768px) {
  .about-concept {
    top: 3.5rem;
    left: 0;
  }
}

@media (min-width: 900px) {
  .about-concept {
    top: 3rem;
  }
}

@media (min-width: 1118px) {
  .about-concept {
    top: 3.5rem;
  }
}

@media (min-width: 1366px) {
  .about-concept {
    top: 1rem;
  }
}

.about-section1 {
  padding: 0 5rem 2rem 3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 768px) {
  .about-section1 {
    padding: 0 8rem 3rem;
  }
}

@media (min-width: 900px) {
  .about-section1 {
    padding: 0 10rem 3rem;
  }
}

@media (min-width: 1118px) {
  .about-section1 {
    padding: 0 6rem 3rem;
  }
}

@media (min-width: 1366px) {
  .about-section1 {
    padding: 0 8rem 3rem;
  }
}

.about-title {
  font-size: 1.8rem;
  line-height: 2rem;
  color: #4C4C4D;
  margin-bottom: 1.5rem;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 768px) {
  .about-title {
    font-size: 2.6rem;
    line-height: 2.8rem;
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 900px) {
  .about-title {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 1118px) {
  .about-title {
    font-size: 2.6rem;
  }
}

@media (min-width: 1650px) {
  .about-title {
    font-size: 3rem;
  }
}

.about-text {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

@media (min-width: 768px) {
  .about-text {
    margin-bottom: 1rem;
  }
}

@media (min-width: 900px) {
  .about-text {
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 1650px) {
  .about-text {
    margin-bottom: 2rem;
  }
}

.about-text2 {
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
  display: none;
}

@media (min-width: 768px) {
  .about-text2 {
    display: block;
  }
}

.about-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  margin-left: 3rem;
  width: 15rem;
  padding: 0.3rem;
  background: #606060;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 200% auto;
  background-image: -webkit-gradient(linear, left top, right top, from(#EA9C75), color-stop(50%, #EA9C75), color-stop(50%, #606060), to(#606060));
  background-image: linear-gradient(to right, #EA9C75 0%, #EA9C75 50%, #606060 50%, #606060 100%);
  -webkit-transition: background-position ease 0.4s;
  transition: background-position ease 0.4s;
  cursor: pointer;
}

.about-button:hover {
  background-position: 0 0;
}

@media (min-width: 768px) {
  .about-button {
    margin-left: 8rem;
    width: 28%;
  }
}

@media (min-width: 900px) {
  .about-button {
    margin-left: 10rem;
  }
}

@media (min-width: 1118px) {
  .about-button {
    margin-left: 6rem;
    width: 30%;
  }
}

@media (min-width: 1366px) {
  .about-button {
    margin-left: 8rem;
    width: 28%;
  }
}

.button-text {
  border: solid 1px #F7F3DF;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 768px) {
  .button-text {
    padding: 1.5rem 3rem;
    font-size: 1.8rem;
  }
}

@media (min-width: 900px) {
  .button-text {
    padding: 2rem 3rem;
    font-size: 2.3rem;
  }
}

@media (min-width: 1118px) {
  .button-text {
    padding: 1.5rem 3rem;
    font-size: 1.8rem;
  }
}

.about-section2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about-section3 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 3rem;
  padding-right: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 768px) {
  .about-section3 {
    padding-top: 5rem;
  }
}

@media (min-width: 900px) {
  .about-section3 {
    padding-top: 6rem;
  }
}

@media (min-width: 1118px) {
  .about-section3 {
    padding-top: 5rem;
  }
}

.about-text_pc {
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 768px) {
  .about-text_pc {
    display: block;
    -webkit-transition-delay: .3s;
            transition-delay: .3s;
    width: 28%;
    padding-right: 1rem;
  }
}

@media (min-width: 900px) {
  .about-text_pc {
    width: 27%;
  }
}

@media (min-width: 1118px) {
  .about-text_pc {
    width: 30%;
  }
}

@media (min-width: 1650px) {
  .about-text_pc {
    padding-right: 2rem;
  }
}

@media (min-width: 768px) {
  .about-text_pc.section3 {
    -webkit-transition-delay: .4s;
            transition-delay: .4s;
    padding-left: 1rem;
  }
}

@media (min-width: 1650px) {
  .about-text_pc.section3 {
    padding-left: 2rem;
  }
}

.about-text_sp {
  width: 50%;
  font-size: 1.3rem;
  line-height: 1.6rem;
  text-align: left;
  padding-right: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 768px) {
  .about-text_sp {
    display: none;
  }
}

.about-text_sp.section3 {
  width: 37%;
  text-align: right;
  padding-right: 0;
  padding-left: 1rem;
}

.about-img {
  width: 14.5rem;
  max-width: 100%;
}

@media (min-width: 768px) {
  .about-img {
    width: 26rem;
  }
}

@media (min-width: 900px) {
  .about-img {
    width: 36rem;
  }
}

@media (min-width: 1118px) {
  .about-img {
    width: 24rem;
    padding-top: 5rem;
  }
}

@media (min-width: 1366px) {
  .about-img {
    width: 31rem;
    padding-top: 0;
  }
}

.about-img2 {
  width: 22.5rem;
  max-width: 100%;
}

@media (min-width: 768px) {
  .about-img2 {
    width: 43rem;
  }
}

@media (min-width: 900px) {
  .about-img2 {
    width: 54.3rem;
  }
}

@media (min-width: 1118px) {
  .about-img2 {
    width: 32rem;
  }
}

@media (min-width: 1366px) {
  .about-img2 {
    width: 46rem;
  }
}

.menu-button {
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
  z-index: 100;
  position: absolute;
  top: 19rem;
  left: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  padding: 0.3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 200% auto;
  background-image: -webkit-gradient(linear, left top, right top, from(#A4B284), color-stop(50%, #A4B284), color-stop(50%, #606060), to(#606060));
  background-image: linear-gradient(to right, #A4B284 0%, #A4B284 50%, #606060 50%, #606060 100%);
  -webkit-transition: background-position ease 0.4s;
  transition: background-position ease 0.4s;
  cursor: pointer;
}

.menu-button:hover {
  background-position: 0 0;
}

@media (min-width: 768px) {
  .menu-button {
    top: 29rem;
  }
}

@media (min-width: 900px) {
  .menu-button {
    top: 33.5rem;
  }
}

@media (min-width: 1118px) {
  .menu-button {
    top: 31rem;
  }
}

@media (min-width: 1366px) {
  .menu-button {
    top: 29rem;
  }
}

.menu-border-box {
  list-style: none;
  margin: 0;
  padding: 1.5rem 2rem;
  border: solid 0.25px #F7F3DF;
}

.menu-border-box li {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.menu-border-box li:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .menu-border-box {
    padding: 2.7rem 3.5rem;
    border: solid 1px #F7F3DF;
  }
  .menu-border-box li {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
  .menu-border-box li:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 900px) {
  .menu-border-box {
    padding: 3.3rem 4rem;
    border: solid 1px #F7F3DF;
  }
  .menu-border-box li {
    font-size: 2rem;
    line-height: 2.2rem;
    margin-bottom: 1rem;
  }
  .menu-border-box li:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 1118px) {
  .menu-border-box {
    padding: 2.7rem 3.2rem;
    border: solid 1px #F7F3DF;
  }
  .menu-border-box li {
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin-bottom: 0.5rem;
  }
  .menu-border-box li:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 1336px) {
  .menu-border-box {
    padding: 2.7rem 3.5rem;
  }
}

.menu-box {
  background: #F7F3DF;
  margin-left: 3rem;
  padding: 2rem 0 2rem 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 768px) {
  .menu-box {
    margin-left: 4rem;
    padding: 5rem 0 5rem 5rem;
  }
}

@media (min-width: 900px) {
  .menu-box {
    margin-left: 8rem;
    padding: 8rem 0 8rem 8rem;
  }
}

@media (min-width: 1118px) {
  .menu-box {
    margin-left: 4rem;
    padding: 5rem 0 5rem 5rem;
  }
}

.menu-item {
  position: relative;
  padding-bottom: 7rem;
  font-size: 1.4rem;
}

.menu-item:last-child {
  padding-bottom: 0;
}

@media (min-width: 768px) {
  .menu-item {
    padding-bottom: 18rem;
  }
}

@media (min-width: 900px) {
  .menu-item {
    padding-bottom: 25rem;
  }
}

@media (min-width: 1118px) {
  .menu-item {
    padding-bottom: 10rem;
  }
}

@media (min-width: 1366px) {
  .menu-item {
    padding-bottom: 18rem;
  }
}

.breakfast {
  position: absolute;
  top: -1.5rem;
  left: -0.5rem;
  font-size: 2.4rem;
}

@media (min-width: 768px) {
  .breakfast {
    top: -1rem;
    font-size: 4rem;
  }
}

@media (min-width: 900px) {
  .breakfast {
    top: -3.5rem;
    font-size: 4.7rem;
  }
}

@media (min-width: 1118px) {
  .breakfast {
    top: 0;
    left: 0;
    font-size: 3rem;
  }
}

@media (min-width: 1366px) {
  .breakfast {
    top: -2.5rem;
    left: -0.5rem;
    font-size: 4.7rem;
  }
}

@media (min-width: 1400px) {
  .breakfast {
    top: -2rem;
    left: -1rem;
  }
}

.pastry {
  position: absolute;
  top: -1rem;
  left: 16.2rem;
  font-size: 2.4rem;
}

@media (min-width: 768px) {
  .pastry {
    left: 29.5rem;
    font-size: 4rem;
  }
}

@media (min-width: 900px) {
  .pastry {
    top: -2rem;
    left: 29rem;
    font-size: 4.7rem;
  }
}

@media (min-width: 1118px) {
  .pastry {
    top: 0;
    left: 23rem;
    font-size: 3rem;
  }
}

@media (min-width: 1366px) {
  .pastry {
    top: -2rem;
    left: 29rem;
    font-size: 4.7rem;
  }
}

.bevarage {
  position: absolute;
  top: -1.5rem;
  left: -0.5rem;
  font-size: 2.4rem;
}

@media (min-width: 768px) {
  .bevarage {
    top: -1rem;
    font-size: 4rem;
  }
}

@media (min-width: 900px) {
  .bevarage {
    top: -3.5rem;
    font-size: 4.7rem;
  }
}

@media (min-width: 1118px) {
  .bevarage {
    top: 0;
    left: 0;
    font-size: 3.2rem;
  }
}

@media (min-width: 1366px) {
  .bevarage {
    top: -2.5rem;
    font-size: 4.7rem;
  }
}

@media (min-width: 1400px) {
  .bevarage {
    left: -1.5rem;
  }
}

.menu-text-box1 {
  display: inline-block;
  width: 40%;
  background: #FFFEF8;
  padding: 1rem 6rem 1rem 2.5rem;
}

@media (min-width: 768px) {
  .menu-text-box1 {
    width: 36%;
    padding: 2.5rem 10rem 2.5rem 5rem;
  }
}

@media (min-width: 1024px) {
  .menu-text-box1 {
    width: 45%;
    padding: 2.5rem 17rem 2.5rem 5rem;
  }
}

@media (min-width: 1118px) {
  .menu-text-box1 {
    width: 32%;
  }
}

@media (min-width: 1366px) {
  .menu-text-box1 {
    width: 36%;
  }
}

@media (min-width: 1450px) {
  .menu-text-box1 {
    width: 40%;
  }
}

.menu-text-box2 {
  display: inline-block;
  background: #FFFEF8;
  margin-left: 12rem;
  padding: 1rem 1rem 1rem 6.7rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 768px) {
  .menu-text-box2 {
    margin-left: 28rem;
    padding: 2.5rem 10rem 2.5rem 6rem;
  }
}

@media (min-width: 1118px) {
  .menu-text-box2 {
    margin-left: 17rem;
    padding: 2.5rem 1rem 2.5rem 10rem;
  }
}

@media (min-width: 1366px) {
  .menu-text-box2 {
    margin-left: 28rem;
    padding: 2.5rem 2rem 2.5rem 6rem;
  }
}

@media (min-width: 1600px) {
  .menu-text-box2 {
    padding-right: 6rem;
  }
}

.menu-text-box3 {
  display: inline-block;
  width: 40%;
  background: #FFFEF8;
  padding: 1rem 6rem 1rem 2.5rem;
}

@media (min-width: 768px) {
  .menu-text-box3 {
    padding: 2.5rem 10rem 2.5rem 5rem;
  }
}

@media (min-width: 1024px) {
  .menu-text-box3 {
    width: 45%;
  }
}

@media (min-width: 1118px) {
  .menu-text-box3 {
    width: 36%;
    padding: 2.5rem 20rem 2.5rem 5rem;
  }
}

@media (min-width: 1366px) {
  .menu-text-box3 {
    width: 40%;
  }
}

.menu1-img {
  display: inline-block;
  position: absolute;
  top: -3rem;
  right: 1rem;
  width: 15.5rem;
}

@media (min-width: 768px) {
  .menu1-img {
    width: 29rem;
    top: -7rem;
    right: 3rem;
  }
}

@media (min-width: 900px) {
  .menu1-img {
    width: 32rem;
    top: -10rem;
  }
}

@media (min-width: 1118px) {
  .menu1-img {
    width: 20rem;
    top: -3rem;
  }
}

@media (min-width: 1366px) {
  .menu1-img {
    width: 29rem;
    top: -7rem;
  }
}

.menu2-img {
  display: inline-block;
  position: absolute;
  top: -1.5rem;
  left: 6.7rem;
  width: 10.5rem;
}

@media (min-width: 768px) {
  .menu2-img {
    top: -6rem;
    left: 9rem;
    width: 21rem;
  }
}

@media (min-width: 900px) {
  .menu2-img {
    left: 4.5rem;
    width: 25rem;
  }
}

@media (min-width: 1118px) {
  .menu2-img {
    top: -2rem;
    left: 9rem;
    width: 15rem;
  }
}

@media (min-width: 1366px) {
  .menu2-img {
    top: -6rem;
    left: 9rem;
    width: 21rem;
  }
}

.menu3-img {
  display: inline-block;
  position: absolute;
  top: -2.5rem;
  right: 2.5rem;
  width: 12.5rem;
}

@media (min-width: 768px) {
  .menu3-img {
    top: -7rem;
    right: 6rem;
    width: 24.5rem;
  }
}

@media (min-width: 900px) {
  .menu3-img {
    top: -10rem;
    width: 29rem;
  }
}

@media (min-width: 1118px) {
  .menu3-img {
    top: -2.5rem;
    right: 3.5rem;
    width: 18rem;
  }
}

@media (min-width: 1366px) {
  .menu3-img {
    top: -7rem;
    right: 4rem;
    width: 24rem;
  }
}
/*# sourceMappingURL=style.css.map */