//
// header-style (cover)
//


// cover
.header {
    position: relative;
    margin: 0;
    padding: 0;
    height: 81.2rem;
    @media (min-width: 768px) {
        height: auto;
    }
}

.cover-container {
    background: $tomato;
    padding: 0 0 0.5rem 0;
    @media (min-width: 1118px) {
        background: $avocado;
        width: 100%;
        display: inline-block;
        padding: 0;
    }
}


.wrapper_pc {
    @media (min-width: 1118px) {
        position: fixed;
        width: 55rem;
        height: 76.8rem;
        top: 0;
        right: 0;
    }
    @media (min-width: 1366px) {
        width: 65rem;
    }
}

//carousel
.carousel {
    @media (min-width: 768px) {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0 5rem;
        picture {
            border: solid 10px $egg;
            border-top: none;
        }
    }
    @media (min-width: 900px) {
        padding: 0 10rem;
    }
    @media (min-width: 1118px) {
        padding: 0;
        picture {
            border: none;
        }
    }
}

.cover-left_pc {
    width: 100%;
    @media (min-width: 1118px) {
        width: calc(100% - 58rem);
        background: $tomato;
        margin-top: 3rem;
        margin-left: 3rem;
        margin-bottom: 1.5rem;
        border-top: solid 3rem $egg;
        border-left: solid 3rem $egg;
        box-sizing: border-box;
    }
    @media (min-width: 1366px) {
        width: calc(100% - 68rem);
    }
}

.cover_logotext-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0 0 0;
}

.cover_title-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 0;
    box-sizing: border-box;
}

.cover_subtitle {
    color: $salmon;
    font-size: 1.4rem;
    font-weight: 400;
    @media (min-width: 768px) {
        font-size: 1.8rem;
        line-height: 2.5rem;
    }
    @media (min-width: 900px) {
        font-size: 2.1rem;
        line-height: 2.8rem;
    }
    @media (min-width: 1118px) {
        font-size: 2.4rem;
        line-height: 3.4rem;
    }
}

.cover_opening-hours {
    transition-delay: .7s;
    margin: 10.5rem 0 12.5rem;
    color: $egg;
    @media (min-width: 768px) {
        margin: 9rem 0 11rem;
    }
    @media (min-width: 900px) {
        margin: 13rem 0 15.7rem;
    }
    @media (min-width: 1118px) {
        margin: 10.1rem 0 12.4rem;
    }
}

.border-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 0.25px $salmon;
	outline: solid 0.25px $salmon;
	outline-offset: $defaultOutlineOffset;
	padding: 2.65rem 1.6rem 2.7rem;
    @media (min-width: 900px) {
        border: $defaultBorder;
        outline: $defaultBorder;
        padding: 2.5rem 2rem 3rem;
    }
}

.open {
    display: inline-block;
    text-transform: uppercase;
    border-bottom: $defaultBorder;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    line-height: 2.1rem;
    @media (min-width: 900px) {
        font-size: 2.3rem;
        line-height: 3.2rem;
        margin-bottom: 1.7rem;
    }
}

.opening-hours-text {
    font-size: 1.5rem;
    line-height: 2.3rem;
    @media (min-width: 900px) {
        font-size: 1.8rem;
        line-height: 2.5rem;
    }
    span {
        font-size: 1.75rem;
        @media (min-width: 900px) {
            font-size: 1.95rem;
        }
    }
}

//nav
.nav {
    width: 100%;
    padding: 0 0.5rem;
    box-sizing: border-box;
    @media (min-width: 1118px) {
        border-bottom: solid 1.5rem $egg;
    }
}

.nav-list {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1.5rem 0 0;
    box-sizing: border-box;
    background: $tomato2;
    list-style: none;
    li {
        width: 33%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-right: solid 2px $tomato;
        padding-bottom: 0.5rem;
        opacity: 0;
        animation: fadein 1s ease forwards;
        @keyframes fadein {
            100% {  opacity: 1;}
        }
        &:first-child {
            animation-delay: 1.2s;
        }
        &:nth-child(2) {
            animation-delay: 1.7s;
        }
        &:last-child {
            border-right: none;
            animation-delay: 2.2s;
        }
        a {
            &:hover{
            color: $avocado;
            transition: .3s;
            }
        }
        @media (min-width: 900px) {
            border-right: solid 3px $tomato;
        }
    }
    @media (min-width: 1118px) {
        margin-bottom: 0.5rem;
    }
}

.icon-img-box {
    position: relative;
}

.nav-img1 {
    height: 2.7rem;
    padding-left: 0.5rem;
    @media (min-width: 768px) {
        height: 3rem;
    }
    @media (min-width: 900px) {
        height: 3.5rem;
    }
}
.nav-img1-active {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: .3s;
    &:hover{
        opacity: 1;
    }
    height: 2.7rem;
    padding-left: 0.5rem;
    @media (min-width: 768px) {
        height: 3rem;
    }
    @media (min-width: 900px) {
        height: 3.5rem;
    }
}

.nav-img2 {
    height: 2.7rem;
    @media (min-width: 768px) {
        height: 3rem;
    }
    @media (min-width: 900px) {
        height: 3.5rem;
    }
}

.nav-img2-active {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: 0.3s;
    &:hover{
        opacity: 1;
    }
    height: 2.7rem;
    @media (min-width: 768px) {
        height: 3rem;
    }
    @media (min-width: 900px) {
        height: 3.5rem;
    }
}

.nav-img3 {
    height: 2.9rem;
    @media (min-width: 768px) {
        height: 3.2rem;
    }
    @media (min-width: 900px) {
        height: 3.7rem;
    }
}

.nav-img3-active {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: 0.3s;
    &:hover{
        opacity: 1;
    }
    height: 2.9rem;
    @media (min-width: 768px) {
        height: 3.2rem;
    }
    @media (min-width: 900px) {
        height: 3.7rem;
    }
}

.nav-text {
    font-size: 1.6rem;
    line-height: 2.5rem;
    @media (min-width: 900px) {
        font-size: 2rem;
        line-height: 3rem;
    }
}